.header {
    padding: 10px;
    text-align: center;
    background: grey;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

#temp, #humid, #wind, #uv {
    padding: 10px;
}

#highlightGreen {
    background-color: rgb(115, 201, 115);
}

#highlightYellow {
    background-color: rgb(235, 235, 129);
}

#highlightRed {
    background-color: rgb(204, 104, 104);
}

.fiveDayCard {
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(73, 73, 238);
    width: 150px;
}